<h1>Home Picker</h1>

<%= render 'layouts/about_blurb' %>

<% hunts_shown = 2 %>

<% if user_signed_in? %>
  <% current_user.hunts.order(updated_at: :desc).limit(hunts_shown).each do |hunt| %>
    <p>
      <%= link_to "View '#{hunt.title}' Homes",
                  hunt_homes_path(hunt),
                  class: 'btn btn-warning' %>
    </p>
  <% end %>
  <% if current_user.hunts.size > hunts_shown %>
    <p>
      <%= link_to 'Switch to a different home hunt',
                  hunts_path,
                  class: 'btn btn-outline-info' %>
    </p>
  <% end %>
  <p>
    <%= link_to 'Begin a new hunt',
                hunts_path,
                class: 'btn btn-outline-info' %>
  </p>
<% else %>
  <p>
    <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
    or
    <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
  </p>
<% end %>
