<%= form_for(comment, html: { class: 'form-inline' }) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :home_id, value: comment.home_id %>

  <div class="input-group">
    <%= f.text_field :text,
                     class: 'form-control',
                     placeholder: ['I think...', 'Love this!', 'What about ...', 'No. Way.'].sample,
                     required: true %>
    <div class="input-group-append">
      <%= f.submit 'Comment', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
