<h4>
  <%= hunt.title %>
</h4>

<div class="row">
  <% if hunt.hunt_memberships.includes(:user).find_each do |hm| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="media mt-2 mb-2">
        <%= image_tag hm.user.gravatar_url(70),
                      class: 'mr-3 rounded',
                      size: 70 %>
        <div class="media-body">
          <h5 class="mt-0 mb-0">
            <%= hm.user.display_name %>
          </h5>
          <p>
            <% if hm.user == hunt.creator_user %>
              started on
              <%= hunt.created_at.strftime('%d %b %Y') %>
            <% else %>
              joined on
              <%= hm.created_at.strftime('%d %b %Y') %>
            <% end %>
            <br>
            added
            <%= fa_icon_inline('home') %>
            <%= hunt.homes.where(disabled: false).where(creator_user: hm.user).size %>
            &nbsp;
            <%= fa_icon_inline('comments') %>
            <%= hm.user.comments.where(home: hunt.homes).size %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
