<%= form_for(rating, html: { class: 'form-inline' }) do |f| %>
  <%= f.hidden_field :home_id %>
  <%= f.hidden_field :aspect %>
  <%= f.hidden_field :score, id: "score_field_#{rating.aspect}" %>

  <div class="btn-group" role="group" aria-label="Rating">
    <% 1.upto(5).each do |score| %>
      <% others_score_ratings = others_ratings.select { |r| r.score == score }.map { |r| r.user.display_name } %>
      <% btn_classes = %w[set_score_btn btn] %>
      <% btn_classes << (rating.score == score ? 'btn-warning' : 'btn-outline-warning') %>
      <% if others_score_ratings.any? %>
        <% btn_classes << 'rated_by_others' %>
        <%# TODO: Specify container: 'body' to avoid rendering problems in more complex components (like our input groups, button groups, etc). %>
        <% btn_data = { toggle: :tooltip, container: :body } if others_score_ratings.any? %>
        <% btn_title = "#{rating.score == score ? 'Also rated ' : 'Rated '} #{score} by #{others_score_ratings.to_sentence}" %>
      <% end %>

      <%= button_tag score,
                     type: :submit,
                     class: btn_classes.join(' '),
                     data: btn_data,
                     title: btn_title %>
    <% end %>
  </div>
  &nbsp;
  <%= f.object.aspect.humanize %>
<% end %>

<script>
  $(function() {
    $('.set_score_btn').on('click', function(ev) {
      var btn = $(this);
      var score_field = $('#score_field_<%= rating.aspect %>');
      score_field.attr('value', btn.text());
    });
  });
</script>
