<%= form_with model: [@hunt, home] do |f| %>
  <%= render 'layouts/errors', errors: home.errors %>

  <div class="form-row">
    <div class="form-group col-md-9">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', autocomplete: 'off' %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :price %>
      <%= f.number_field :price, class: 'form-control', step: 100, autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :address_street %>
      <%= f.text_field :address_street, class: 'form-control', autocomplete: 'off' %>
    </div>
    <div class="form-group col-6 col-md-3">
      <%= f.label :latitude %>
      <%= f.text_field :latitude, class: 'form-control', inputmode: 'numeric', autocomplete: 'off' %>
    </div>
    <div class="form-group col-6 col-md-3">
      <%= f.label :longitude %>
      <%= f.text_field :longitude, class: 'form-control', inputmode: 'numeric', autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :address_locality %>
      <%= f.text_field :address_locality, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :address_region %>
      <%= f.text_field :address_region, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :postcode %>
      <%= f.text_field :postcode, class: 'form-control', autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 10, autocomplete: 'off' %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :agent_url %>
      <%= f.text_field :agent_url, class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :zoopla_url %>
      <% if f.object&.zoopla_search_link.present? %>
        <div class="input-group">
          <%= f.text_field :zoopla_url,
                           class: 'form-control',
                           placeholder: 'https://zoopla.co.uk/...',
                           autocomplete: 'off' %>
          <div class="input-group-append">
            <%= link_to fa_icon_inline('search'),
                        f.object.zoopla_search_link,
                        class: 'btn btn-outline-secondary',
                        type: :button,
                        target: :_blank,
                        data: { toggle: :tooltip },
                        title: 'Search Zoopla for this property' %>
          </div>
        </div>
      <% else %>
        <%= f.text_field :zoopla_url,
                         class: 'form-control',
                         placeholder: 'https://zoopla.co.uk/...',
                         autocomplete: 'off' %>
      <% end %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :rightmove_url %>
      <% if f.object&.rightmove_search_link.present? %>
        <div class="input-group">
          <%= f.text_field :rightmove_url,
                           class: 'form-control',
                           placeholder: 'https://rightmove.co.uk/...',
                           autocomplete: 'off' %>
          <div class="input-group-append">
            <%= link_to fa_icon_inline('search'),
                        f.object.rightmove_search_link,
                        class: 'btn btn-outline-secondary',
                        type: :button,
                        target: :_blank,
                        data: { toggle: :tooltip },
                        title: 'Search Rightmove for this property' %>
          </div>
        </div>
      <% else %>
        <%= f.text_field :rightmove_url,
                         class: 'form-control',
                         placeholder: 'https://rightmove.co.uk/...',
                         autocomplete: 'off' %>
      <% end %>
    </div>

  </div>

  <div class="form-row">
    <%= f.fields_for :images do |images_form| %>
      <% if images_form.object.persisted? %>
        <div class="form-group col-md-3">
          <%= images_form.label :_destroy do %>
            <%= image_tag images_form.object.thumb_url, class: 'img-thumbnail' %>
          <% end %>
          <%= images_form.check_box :_destroy, class: 'form-check-input' %>
          <%#= images_form.label :_destroy, class: 'form-check-label' %>
          <br>
          <%= images_form.text_field :external_url, disabled: true, class: 'form-control' %>
        </div>
      <% else %>
        <div class="form-group col-md-3">
          <%= images_form.label :external_url, 'URL' %>
          <%= images_form.text_field :external_url, class: 'form-control' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= f.hidden_field :hunt_id, value: @hunt.id %>
  <%= f.submit class: 'btn btn-primary' %>

  <%= link_to 'Cancel',
              (home.new_record? ? hunt_homes_path(@hunt) : hunt_home_path(@hunt, @home)),
              class: 'btn btn-light' %>
<% end %>
