<%= form_with model: [@hunt, home] do |f| %>
  <%= render 'layouts/errors', errors: home.errors %>

  <p>To quickly add a home, paste the Rightmove or Zoopla link below to import the details</p>

  <div class="form-group">
    <label for="url">Retrieve Data via URL</label>
    <%= text_field_tag :url,
                       params[:url],
                       class: 'form-control',
                       placeholder: 'https://zoopla.co.uk/... or https://rightmove.co.uk/...',
                       required: true,
                       autofocus: true %>
  </div>

  <%= f.hidden_field :hunt_id, value: @hunt.id %>
  <%= f.submit 'Import Home Details', class: 'btn btn-primary' %>
  or
  <%= link_to 'Enter manually',
              new_hunt_home_path(manual: true),
              class: 'btn btn-outline-dark' %>
<% end %>

<% if params[:url].nil? %>
  <p class="mt-3">
    You can also save this bookmark -
    <%= link_to "Add to #{@hunt.title}",
                "javascript:window.location='#{new_hunt_home_url}?url='+ window.location;" %>
    - and click it from any Zoopla/Rightmove page to save to this hunt.
  </p>
<% end %>
