<h1>Homes</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>&nbsp;</th>
      <th>Description</th>
      <th>Links</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @homes.each do |home| %>
      <tr>
        <td>
          <%= link_to home do %>
            <% if home.images.first.present? %>
              <%= image_tag home.images.first.url, height: 100 %>
            <% else %>
              [ no image ]
            <% end %>
          <% end %>
        </td>
        <td>
          <p class="lead"><%= link_to home.address_street, home %></p>
          <p><%= home.title %></p>
        </td>
        <td>
          <% if home.agent_url.present? %>
            <%= link_to home.agent_url 'Agent' %>
          <% end %>
          <% if home.zoopla_url.present? %>
            <%= link_to 'Zoopla', home.zoopla_url %>
          <% end %>
          <% if home.rightmove_url.present? %>
            <%= link_to 'Rightmove', home.rightmove_url %>
          <% end %>
        </td>
        <td>£<%= home.price / 1000 %>k</td>
      </tr>
    <% end.empty? %>
      <tr>
        <td colspan="4">
          No homes!
          Get started by
          <%= link_to 'adding one', new_home_path %>.
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

<div id="mapbox_map" style="padding-top: 20px; height: 500px"></div>

<script>
  <% latlong_homes = @homes.select { |x| x.latitude.present? && x.longitude.present? } %>

  <%# Taken from: https://docs.mapbox.com/mapbox-gl-js/example/popup-on-click/ %>
  mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_TOKEN', 'no mapbox token ') %>';
  var map = new mapboxgl.Map({
    container: 'mapbox_map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= latlong_homes.first.longitude %>, <%= latlong_homes.first.latitude %>],
    zoom: 14
  });

  map.on('load', function() {
    map.addSource('places', {
      'type': 'geojson',
      'data': {
        'type': 'FeatureCollection',
        'features': [
          <% latlong_homes.each do |home| %>
          {
            'type': 'Feature',
            'properties': {
              'description': '<strong><%= home.address_street %></strong><p><a href="<%= home_path(home) %>"><%= home.title %></a> </p>',
              'icon': 'rocket'
            },
            'geometry': {
              'type': 'Point',
              'coordinates': [<%= home.longitude %>, <%= home.latitude %>]
            }
          },
          <% end %>
        ]
      }
    });
    // Add a layer showing the places.
    map.addLayer({
      'id': 'places',
      'type': 'symbol',
      'source': 'places',
      'layout': {
        'icon-image': '{icon}-15',
        'icon-allow-overlap': true
      }
    });

    // When a click event occurs on a feature in the places layer, open a popup at the
    // location of the feature, with description HTML from its properties.
    map.on('click', 'places', function(e) {
      var coordinates = e.features[0].geometry.coordinates.slice();
      var description = e.features[0].properties.description;

      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      new mapboxgl.Popup()
        .setLngLat(coordinates)
        .setHTML(description)
        .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'places', function() {
      map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'places', function() {
      map.getCanvas().style.cursor = '';
    });
  });
</script>
