<h1>Homes</h1>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Description</th>
      <th>Links</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td>
          <%= link_to home do %>
            <%= image_tag home.images.first.url, height: 100 %>
          <% end %>
        </td>
        <td>
          <p class="lead"><%= link_to home.address_street, home %></p>
          <p><%= home.title %></p>
        </td>
        <td>
          <% if home.agent_url.present? %>
            <%= link_to home.agent_url 'Agent' %>
          <% end %>
          <% if home.zoopla_url.present? %>
            <%= link_to 'Zoopla', home.zoopla_url %>
          <% end %>
          <% if home.rightmove_url.present? %>
            <%= link_to 'Rightmove', home.rightmove_url %>
          <% end %>
        </td>
        <td>£<%= home.price / 1000 %>k</td>
      </tr>
    <% end %>
  </tbody>
</table>
