<h1>Homes - <%= @hunt.title %></h1>

<% if @homes.each do |home| %>
  <div class="media">
    <%= link_to hunt_home_path(@hunt, home), class: 'align-self-center' do %>
      <%= image_tag home.default_image, height: 100, class: 'mr-3', alt: home.address_street %>
    <% end %>
    <div class="media-body">
      <h5 class="mt-0">
        <%= link_to home.address_street, hunt_home_path(@hunt, home) %>
        £<%= home.price / 1000 %>k
        <% if home.comments.size > 0 %><%= fa_icon('comment') %><% end %>
      </h5>
      <p class="mb-2"><%= home.title %><%= ", #{home.postcode}" if home.postcode.present? %></p>
      <p>
        <% if home.latitude.present? && home.longitude.present? %>
          <%= link_to image_tag('external-icons/google-maps.svg', size: 30, alt: 'Google Maps'),
                      "https://www.google.co.uk/maps/place/#{home.latitude},#{home.longitude}" %>
        <% end %>
        <% if home.zoopla_url.present? %>
          <%= link_to image_tag('external-icons/zoopla.png', size: 30, alt: 'Zoopla'), home.zoopla_url %>
        <% end %>
        <% if home.rightmove_url.present? %>
          <%= link_to image_tag('external-icons/rightmove.png', size: 30, alt: 'Rightmove'), home.rightmove_url %>
        <% end %>
        <% if home.average_rating %>
          <%= fa_icon('star', cls: 'text-warning') %> <%= home.average_rating %>
        <% end %>
      </p>
    </div>
  </div>
<% end.empty? %>
  <p>
    No homes!
    Get started by
    <%= link_to 'adding one', new_hunt_home_path(@hunt) %>.
  </p>
<% end %>

<div class="mt-3">
  <% longlat_homes = @homes.select { |x| x.latitude.present? && x.longitude.present? } %>
  <%= render 'homes_map', homes: longlat_homes if longlat_homes.any? %>
</div>
