<h2><%= @home.address %></h2>
<p><%= @home.title %></p>
<p>Location: <%= @home.latitude %>, <%= @home.longitude %></p>

<% if @home.agent_url.present? %>
  <p>
    <strong>Agent URL:</strong>
    <%= @home.agent_url %>
  </p>
<% end %>

<% if @home.zoopla_url.present? %>
  <%= link_to @home.zoopla_url do %>
    <%= image_tag 'agent-icons/zoopla.png', size: 50 %>
  <% end %>
<% end %>

<% if @home.rightmove_url.present? %>
  <%= link_to @home.rightmove_url do %>
    <%= image_tag 'agent-icons/rightmove.png', size: 50 %>
  <% end %>
<% end %>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @home.price, precision: 0 %>
</p>

<% if @home.latitude.present? && @home.longitude.present? %>
  <%= link_to "https://www.google.co.uk/maps/place/#{@home.latitude},#{@home.longitude}" do %>
    <%= image_tag "https://maps.google.com/maps/api/staticmap?center=#{@home.latitude},#{@home.longitude}&zoom=15&size=300x300&maptype=roadmap&markers=color:ORANGE|label:X|#{@home.latitude},#{@home.longitude}", { alt: "Map of #{ @home.address }", size: 300, class: "img-rounded"} %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-4">
    <%= image_tag @home.images.first.url, class: 'img-responsive' %>
  </div>
  <% @home.images.each_with_index do |img, idx| %>
    <% next if idx.zero? %>
    <div class="col-md-3 col-lg-2">
      <%= link_to img.url do %>
        <%= image_tag img.url, class: 'img-thumbnail' %>
      <% end %>
    </div>
  <% end %>
</div>

<%= render 'layouts/copy_to_clipboard', copytext: home_url(@home) %>

<table class="table">
  <thead>
    <tr>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @home.comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'comments/form', comment: @home.comments.new %>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
