<% if @home.disabled? %>
  <div class="mt-4 alert alert-danger" role="alert">
    This home has been archived.
  </div>
<% end %>

<div class="row mt-2">
  <div class="col-sm-8">

    <h1>
      <%= @home.address_street || '[unnamed property]' %>
    </h1>
    <h3>
      <%= @home.title %><%= ", #{@home.postcode}" if @home.postcode %>
    </h3>
    <p>
      <% if @home.address_locality.present? %>
        <%= @home.address_locality %>,
      <% end %>
      <% if @home.address_region.present? %>
        <%= @home.address_region %>
      <% end %>
      <% if @home.latitude.present? && @home.longitude.present? %>
        (<%= @home.latitude.round(5) %>, <%= @home.longitude.round(5) %>)
      <% end %>
    </p>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'Edit', edit_home_path(@home), class: 'btn btn-warning' %>
    <% if @home.disabled? %>
      <%= link_to 'Restore',
                  restore_home_path(@home),
                  method: :patch,
                  class: 'btn btn-info' %>
    <% else %>
      <%= link_to 'Archive',
                  @home,
                  method: :delete,
                  class: 'btn btn-danger' %>
    <% end %>

    <h3>£<%= @home.price / 1000 %>k</h3>
    <p>
      <% if @home.latitude.present? && @home.longitude.present? %>
        <%= link_to image_tag('external-icons/google-maps.svg', size: 30, alt: 'Google Maps'),
                    "https://www.google.co.uk/maps/place/#{@home.latitude},#{@home.longitude}" %>
      <% end %>

      <% if @home.zoopla_url.present? %>
        <%= link_to image_tag('external-icons/zoopla.png', size: 30, alt: 'Zoopla'), @home.zoopla_url %>
      <% end %>

      <% if @home.rightmove_url.present? %>
        <%= link_to image_tag('external-icons/rightmove.png', size: 30, alt: 'Rightmove'), @home.rightmove_url %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-8">
    <% if @home.images.any? %>
      <%= render 'images_carousel', images: @home.images %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        There aren't any images for this home.
      </div>
    <% end %>
  </div>
  <div class="col-xs-12 col-lg-4">
    <%= render 'comments/list', comments: @home.comments %>
    <%= render 'comments/form', comment: @home.comments.new %>
  </div>
</div>

<div class="mt-3">
  <h3>Details</h3>
  <% if @home.description.present? %>
    <%= render_markdown_paragraphs(@home.description) %>
  <% else %>
    NO DETAILS
  <% end %>
</div>

<% if @home.latitude.present? && @home.longitude.present? %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

  <div id="mapbox_map" style="padding-top: 20px; height: 500px"></div>

  <script>
    mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_TOKEN', 'no mapbox token') %>';

    var map = new mapboxgl.Map({
    container: 'mapbox_map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @home.longitude %>, <%= @home.latitude %>],
    zoom: 14
    });

    var marker = new mapboxgl.Marker()
    .setLngLat([<%= @home.longitude %>, <%= @home.latitude %>])
    .addTo(map);
  </script>
<% end %>
