<% title @home.address_street || @home.title %>

<% if @home.disabled? %>
  <div class="mt-4 alert alert-danger" role="alert">
    This home has been archived.
  </div>
<% end %>

<div class="row mt-2">
  <div class="col-sm-8">
    <h1>
      <%= @home.address_street || '[unnamed property]' %>
    </h1>
    <h3>
      <%= [@home.title, @home.postcode].compact.join(', ') %>
    </h3>
    <p>
      <%= [@home.address_locality, @home.address_region].compact.join(', ') %>
    </p>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'Edit', edit_hunt_home_path(@hunt, @home), class: 'btn btn-warning' %>
    <% if @home.disabled? %>
      <%= link_to 'Restore',
                  restore_hunt_home_path(@hunt, @home),
                  method: :patch,
                  class: 'btn btn-info' %>
    <% else %>
      <%= link_to 'Archive',
                  hunt_home_path(@hunt, @home),
                  method: :delete,
                  data: { confirm: 'Really archive this home?' },
                  class: 'btn btn-danger' %>
    <% end %>

    <h3><%= @home.price_display %></h3>
    <p>
      <%= render 'link_icons', home: @home %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12 col-lg-8">
    <% if @home.images.any? %>
      <%= render 'images_carousel', images: @home.images %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        There aren't any images for this home.
      </div>
    <% end %>
  </div>
  <div class="col-12 col-lg-4">
    <%= render 'comments/list', comments: @home.comments %>
    <%= render 'comments/form', comment: @home.comments.new %>

    <% @ratings.each do |rating| %>
      <br>
      <%= render 'ratings/form',
                 rating: rating,
                 others_ratings: @others_ratings.select { |x| x.aspect == rating.aspect} %>
    <% end %>
  </div>
</div>

<div class="mt-3">
  <h3>Details</h3>
  <% if @home.description.present? %>
    <%= render_markdown_paragraphs(@home.description) %>
  <% else %>
    NO DETAILS
  <% end %>
</div>

<% if @home.latitude.present? && @home.longitude.present? %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

  <div id="mapbox_map" style="padding-top: 20px; height: 500px"></div>

  <script>
    mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_TOKEN', 'no mapbox token') %>';

    var map = new mapboxgl.Map({
    container: 'mapbox_map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @home.longitude %>, <%= @home.latitude %>],
    zoom: 14
    });

    var marker = new mapboxgl.Marker()
    .setLngLat([<%= @home.longitude %>, <%= @home.latitude %>])
    .addTo(map);
  </script>
<% end %>

<div class="mt-3">
  <h3>History</h3>

  <% @home.versions.each do |version| %>
    <%= render_home_changeset(version) %>
  <% end %>
  <p>
    <%= @home.created_at.strftime('%d/%m/%Y') %> : Home added to the <%= link_to @hunt.title, hunt_path(@hunt) %> hunt by <%= @home.creator_user.display_name %>.
  </p>
</div>
