<div class="row">
  <div class="col-sm-8">
    <h1>
      <%= @home.address_street || '[unnamed property]' %><%= ", #{@home.postcode}" if @home.postcode %>
    </h1>
    <h3><%= @home.title %></h3>
    <p>
      <strong>Location:</strong>
      <% if @home.address_locality.present? %>
        <%= @home.address_locality %>,
      <% end %>
      <% if @home.address_region.present? %>
        <%= @home.address_region %>
      <% end %>
      <% if @home.latitude.present? && @home.longitude.present? %>
        (<%= @home.latitude %>, <%= @home.longitude %>)
      <% end %>
    </p>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'Edit', edit_home_path(@home), class: 'btn btn-warning' %>
    <%= link_to 'Delete',
                @home,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger' %>

    <h3>£<%= @home.price / 1000 %>k</h3>
    <p>
      |
      <% if @home.latitude.present? && @home.longitude.present? %>
        <%= link_to 'Google Maps',
                    "https://www.google.co.uk/maps/place/#{@home.latitude},#{@home.longitude}" %> |
      <% end %>

      <% if @home.zoopla_url.present? %>
        <%= link_to 'Zoopla', @home.zoopla_url %> |
      <% end %>

      <% if @home.rightmove_url.present? %>
        <%= link_to 'Rightmove', @home.rightmove_url %> |
      <% end %>
    </p>
  </div>
</div>

<div class="row row-cols-4">
  <% @home.images.each_with_index do |img, idx| %>
    <div class="col" style="padding-top: 20px">
      <%= link_to img.url do %>
        <%= image_tag img.url, class: 'img-thumbnail' %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row" style="padding-top: 20px">
  <div class="col-sm-8">
    <% if @home.description.present? %>
      <%= render_markdown_paragraphs(@home.description) %>
    <% else %>
      NO DETAILS
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>Comments:</h3>
    <table class="table">
      <tbody>
        <% if @home.comments.each do |comment| %>
          <tr>
            <td><%= comment.text %></td>
          </tr>
        <% end.empty? %>
          <tr>
            <td>None</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render 'comments/form', comment: @home.comments.new %>
  </div>
</div>
