<div class="row mt-2">
  <div class="col-sm-8">
    <h1>
      <%= @home.address_street || '[unnamed property]' %><%= ", #{@home.postcode}" if @home.postcode %>
    </h1>
    <h3><%= @home.title %></h3>
    <p>
      <strong>Location:</strong>
      <% if @home.address_locality.present? %>
        <%= @home.address_locality %>,
      <% end %>
      <% if @home.address_region.present? %>
        <%= @home.address_region %>
      <% end %>
      <% if @home.latitude.present? && @home.longitude.present? %>
        (<%= @home.latitude %>, <%= @home.longitude %>)
      <% end %>
    </p>
  </div>
  <div class="col-sm-4 text-right">
    <%= link_to 'Edit', edit_home_path(@home), class: 'btn btn-warning' %>
    <%= link_to 'Delete',
                @home,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-danger' %>

    <h3>£<%= @home.price / 1000 %>k</h3>
    <p>
      |
      <% if @home.latitude.present? && @home.longitude.present? %>
        <%= link_to 'Google Maps',
                    "https://www.google.co.uk/maps/place/#{@home.latitude},#{@home.longitude}" %> |
      <% end %>

      <% if @home.zoopla_url.present? %>
        <%= link_to 'Zoopla', @home.zoopla_url %> |
      <% end %>

      <% if @home.rightmove_url.present? %>
        <%= link_to 'Rightmove', @home.rightmove_url %> |
      <% end %>
    </p>
  </div>
</div>

<div class="row row-cols-4">
  <% if @home.images.each_with_index do |img, idx| %>
    <div class="col" style="padding-top: 20px">
      <%= link_to img.url do %>
        <%= image_tag img.url, class: 'img-thumbnail' %>
      <% end %>
    </div>
  <% end.empty? %>
    <div class="col" style="padding-top: 20px">
      No images for this home.
    </div>
  <% end %>
</div>

<div class="row" style="padding-top: 20px">
  <div class="col-sm-8">
    <% if @home.description.present? %>
      <%= render_markdown_paragraphs(@home.description) %>
    <% else %>
      NO DETAILS
    <% end %>
  </div>
  <div class="col-sm-4">
    <h3>Comments:</h3>
    <% if @home.comments.each do |comment| %>
      <div class="media mt-2">
        <%= image_tag comment.user.gravatar_url(70),
                      class: 'mr-3',
                      size: 70 %>
        <div class="media-body">
          <h5 class="mt-0"><%= comment.user.email.scan(/.+@/).last[0...-1] %></h5>
          <%= comment.text %>
        </div>
      </div>
    <% end.empty? %>
      <p>None</p>
    <% end %>

    <%= render 'comments/form', comment: @home.comments.new %>
  </div>
</div>

<% if @home.latitude.present? && @home.longitude.present? %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

  <div id="mapbox_map" style="padding-top: 20px; height: 500px"></div>

  <script>
    mapboxgl.accessToken = '<%= ENV.fetch('MAPBOX_TOKEN', 'no mapbox token') %>';

    var map = new mapboxgl.Map({
    container: 'mapbox_map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%= @home.longitude %>, <%= @home.latitude %>],
    zoom: 14
    });

    var marker = new mapboxgl.Marker()
    .setLngLat([<%= @home.longitude %>, <%= @home.latitude %>])
    .addTo(map);
  </script>
<% end %>
