<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <meta name='description' content='<%= content_for(:meta_description) || 'Collaborate on the search for your home!' %>' />

  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>HomePicker
  </title>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <%= javascript_include_tag 'application' %>

  <script defer data-domain="homepicker.app" src="https://plausible.io/js/plausible.js"></script>
</head>
