<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>

  <meta name='description' content='<%= content_for(:meta_description) || 'Collaborate on the search for your home!' %>' />

  <title>
    <%= if content_for?(:title) then yield(:title) + ' | ' end %>HomePicker
  </title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
        crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <%= javascript_include_tag 'application' %>

  <script>
    (function(s,q,e,a,u,k,y){
      s._sqSettings={site_id:'e54a2bab-2cb5-46e9-bf25-1325729622ce'};
      u=q.getElementsByTagName('head')[0];
      k=q.createElement('script');
      k.src=e+s._sqSettings.site_id;
      u.appendChild(k);
    })(window,document,'https://cdn.squeaky.ai/g/0.4.0/script.js?');
  </script>
</head>
