<nav class="navbar navbar-light bg-warning pt-0 mb-3">
  <div class="container">
    <% if user_signed_in? %>
      <% if @hunt %>
        <div class="navbar-nav">
          <%= link_to hunt_homes_path(@hunt), class: 'nav-item nav-link' do %>
            <%= fa_icon('list') %>
            <span class="d-none d-lg-inline-block">Homes</span>
          <% end %>
        </div>
      <% end %>
      <% if @hunt %>
        <div class="navbar-nav">
          <%= link_to new_hunt_home_path(@hunt), class: 'nav-item nav-link' do %>
            <%= fa_icon('plus') %>
            <span class="d-none d-lg-inline-block">New Home</span>
          <% end %>
        </div>
      <% end %>
      <div class="navbar-nav">
        <%= link_to hunts_path, class: 'nav-item nav-link' do %>
          <%= fa_icon('exchange') %>
          <span class="d-none d-lg-inline-block">Switch Hunt</span>
        <% end %>
      </div>
      <div class="navbar-nav">
        <%= link_to destroy_user_session_path,
                    method: :delete,
                    data: { confirm: 'Really sign out?' },
                    class: 'nav-item nav-link' do %>
          <%= fa_icon('sign-out-alt') %>
          <span class="d-none d-lg-inline-block">Sign out</span>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
