<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <div class="container">
      <%= render 'layouts/messages' %>

      <div style="text-align: center;" class="mt-4 pt-4">
        <%= image_tag 'https://homepicker.s3.eu-west-2.amazonaws.com/homepicker.svg', size: 150 %>
        <%= yield %>
      </div>

    </div>
    <%= render 'layouts/javascripts' %>
  </body>
</html>
